body{
    background-color: rgb(0, 0, 0);
    color: rgb(64, 255, 0);
    font-family: "Bitcount Grid Double", system-ui;
    
}
header{
    
    border:insetolid 5px rgb(21, 255, 0);
}
section{
background-color: rgb(231, 237, 231);

}